body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
form{
    width: 20em;
    border-radius: 8px;
    box-shadow: 0px 0px 55px 0px rgba(128, 128, 128, 0.546);
    padding: 1% 2%;
}
.error{
    color: red !important;
}

#loginlink{
    display: flex;
    justify-content: right;
    margin-bottom: 1em;
    margin-top: 1em;
}
#loginlink a{
    text-decoration: underline;
    color: black;
}
select{
    /* width: 16.5em !important;
    height: 2em; */
}